name: CodSpeed Benchmarks

on:
  pull_request:
    branches: [master]
    paths:
      - '**.py'
      - '.github/workflows/codspeed.yaml'
      - 'pyproject.toml'
      - 'setup.py'
  push:
    branches: [master]
    paths:
      - '**.py'
      - '.github/workflows/codspeed.yaml'
      - 'pyproject.toml'
      - 'setup.py'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ !(github.event_name == 'push' && github.ref == 'refs/heads/master') }}

jobs:
  benchmark:
    name: Run CodSpeed Benchmarks
    runs-on: ubuntu-latest
    steps:
      - name: Build wheel
        uses: BobTheBuidler/mypycify@v0.2.6
        with:
          hash-key: |
            **/*.py
            pyproject.toml
          pip-cache-dependency-path: |
            setup.py
            pyproject.toml
            
      - name: Cache .mypy_cache
        uses: actions/cache@v5
        with:
          path: .mypy_cache
          key: mypy-cache-${{ runner.os }}-x64-${{ hashFiles('**/*.py', 'pyproject.toml') }}
          
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .[codspeed]
          
      - name: Remove Python files from test env
        run: rm -r faster_hexbytes
        
      - name: Run CodSpeed
        uses: CodSpeedHQ/action@v4
        with:
          mode: instrumentation
          run: pytest --codspeed -k "test_faster_" benchmarks/
