name: CodSpeed Benchmarks

on:
  pull_request:
    branches: [master]
    paths:
      - '**.py'
      - '.github/workflows/codspeed.yaml'
      - 'pyproject.toml'
      - 'setup.py'
  push:
    branches: [master]
    paths:
      - '**.py'
      - '.github/workflows/codspeed.yaml'
      - 'pyproject.toml'
      - 'setup.py'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ !(github.event_name == 'push' && github.ref == 'refs/heads/master') }}

jobs:
  benchmark:
    name: Run CodSpeed Benchmarks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        id: checkout
        uses: actions/checkout@v6
        with:
          # Check out the PR branch
          ref: ${{ github.head_ref }}
        continue-on-error: true

      - name: Branch no longer exists on GitHub
        if: failure() && steps.checkout.outcome == 'failure'
        run: |
          echo "The branch ${{ github.head_ref }} no longer exists on GitHub"
          exit 0
          
      - name: Build wheel
        uses: BobTheBuidler/mypycify@v0.3.0
        with:
          python-version: "3.14"
          hash-key: |
            **/*.py
            pyproject.toml
          pip-cache-dependency-path: |
            setup.py
            pyproject.toml
            
      - name: Cache .mypy_cache
        uses: actions/cache@v5
        with:
          path: .mypy_cache
          key: mypy-cache-${{ runner.os }}-x64-${{ hashFiles('**/*.py', 'pyproject.toml') }}
          
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .[codspeed]
          
      - name: Remove Python files from test env
        run: rm -r faster_hexbytes
        
      - name: Run CodSpeed
        uses: CodSpeedHQ/action@v4
        env:
          PYTEST_ADDOPTS: "-c benchmarks/pytest-codspeed.ini"
        with:
          mode: instrumentation
          run: pytest
